BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
IndentAccessModifiers: true
EmptyLineBeforeAccessModifier: Always
SpaceBeforeParens: ControlStatements
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
